{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
        <h1>О проекте</h1>
        <p style="margin-top: 20px;">
            Этот проект предсталвяет собой веб-сайт, посвященное игре Hollow Knight.
            Он был разработан на микрофреймворке Flask в качесвте практической работы.
        </p>
        <p>
            Основная цель - закрепить навыки работы с Python и веб-технологиями,
            а также создать удобный интерфейс для отображения информации по вселенной игры.
        </p>
        <p>
            Исходный код проекта открыт и доступен для ознакомления на GitHub.
        </p>
        <p>
            <a href="https://github.com/skrizzz-dev/hollow_knight_vlog">Ссылка на репозиторий
        </p>
{% endblock %}