{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Рыцаря — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/knight_vs_bosses.jpg') }}" 
    </figure>

    <p style="margin-top: 20px;">
    Пантеон Рыцаря — четвёртый пантеон в Godmaster и первый настоящий барьер, 
    который ломает большинство игроков. Здесь собраны самые быстрые, агрессивные 
    и непредсказуемые боссы, многие из которых представлены в усиленных версиях.
    </p>

    <p>Основные причины сложности Пантеона Рыцаря включают:</p>

    <ol>
        <li>Появление усиленных версий боссов, таких как Белый защитник и <strong>Чистый сосуд</strong>.</li>
        <li>Высокий темп — почти нет «передышек» между боями.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
    </ol>

    <h2 style="margin-top: 40px;">Самые сложные боссы Пантеона</h2>

    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-top: 15px;">
        <thead>
            <tr style="background-color: #333; color: #fff;">
                <th style="text-align: left; padding: 10px;">Босс</th>
                <th style="text-align: left; padding: 10px;">Имя босса</th>
                <th style="text-align: left; padding: 10px;">Сложность (из 10)</th>
                <th style="text-align: left; padding: 10px;">Ключевая механика</th>
                <th style="text-align: left; padding: 10px;">Совет</th>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/pure_vessel.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong></strong>Чистый сосуд</td>
                <td style="padding: 10px;">9/10</td>
                <td style="padding: 10px;">Резкие атаки, тройные удары, атаки щупальцамы пустоты</td>
                <td style="padding: 10px;">Держи дистанцию и не паникуй, поставь сильные чармы для гвоздя либо для магии, тренируйся в зале боссов пока не изучишь паттерны чистого сосуда и выиграй минимум 5 раз чтобы в пантеоне не паниковать и иметь самоуверенность</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/markoth.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Маркот</strong></td>
                <td style="padding: 10px;">8/10</td>
                <td style="padding: 10px;">Быстрые атаки с гвоздями из света, щит, двойной щит</td>
                <td style="padding: 10px;">Во время боя старайся много масков (здаровье) не потерять так как время для лечения во время боя практически не будет, старайся как можно поскорее закончить с ним бой через быстрые удары или магией, и когда у него появляется второй щит тогда жди подходящего момента для удара или ударь с верху</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/knight_keeper.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Рыцарь хранитель</strong></td>
                <td style="padding: 10px;">6.5/10</td>
                <td style="padding: 10px;">Численность босса, быстрые атаки, запутанность их ходов</td>
                <td style="padding: 10px;">Во время боя старайся держаться по середине поля, так как рыцари атакуют парами будет сложно с ними сражаться в углах, во время боя также учитывай что нужно платформинг, если рыцарь начинается крутиться то сразу готовься прыгнуть близко к рыцарю и начать бить его</td>
            </tr>
        </tbody>
    </table>

    <p style="margin-top: 20px;">
    Успешное прохождение Пантеона Рыцаря требует от игроков не только мастерства,
    но и стратегического мышления, умения быстро анализировать ситуации и
    принимать решения на лету. Это делает его одним из самых запоминающихся и
    сложных испытаний в Hollow Knight.
    </p> 
    
{% endblock %}