{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Мастера — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/oro_and_mato.jpg') }}" style="width: 700px;"> 
    </figure>

    <p>
    Пантеон Мастера — первый пантеон в Godmaster, тут игроки в первые сталкиваюстся пантеонами игры hollow knight, сам пантеон легкий и требует
    серьезных навыков для прохождения, но все равно есть требования к внимания игрока на боссов.
    </p>

    <p>Основные причины сложности Пантеона Мастера включают:</p>

    <ol>
        <li>Численность боссов пантеона который может сбивать игрока от концентрации, также в конце 2 босса сразу: <strong>Мастера гвоздя Оро и Мато</strong>.</li>
        <li>Боссы требующие осторожности, которые могут убить игрока если игрок будет невнимателен.</li>
        <li>Необходимость перепрохождения если игрок не понимает как пройти определенного босса.</li>
        <li>Требование к концентрации и подготовке к боссам.</li>
    </ol>

    <h2 style="margin-top: 40px;">Самые сложные боссы Пантеона</h2>

    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-top: 15px;">
        <thead>
            <tr style="background-color: #333; color: #fff;">
                <th style="text-align: left; padding: 10px;">Босс</th>
                <th style="text-align: left; padding: 10px;">Имя босса</th>
                <th style="text-align: left; padding: 10px;">Сложность (из 10)</th>
                <th style="text-align: left; padding: 10px;">Ключевая механика</th>
                <th style="text-align: left; padding: 10px;">Совет</th>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/or_and_mato.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Мастера гвоздя Оро и Мато</strong></td>
                <td style="padding: 10px;">5/10</td>
                <td style="padding: 10px;">Удары гвоздями, прыжки, численность</td>
                <td style="padding: 10px;">Угадать их специальные удары легко так как они заряжают удары достаточно долго, во время боя лучше сфокусироваться на двоих и наносить уроны тому кому легче подбираться</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/false_knight.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong></strong>Ложный рыцарь</td>
                <td style="padding: 10px;">5/10</td>
                <td style="padding: 10px;">прыжки, удары с волнами</td>
                <td style="padding: 10px;">Бой достаточно легким станет если привыкнуть к нему, босс на самом деле не так быстро наносит удары что позволяет много раз наносить удары гвоздем, во время того когда открывается шлем ложного рыцаря можно ударять по нему гвоздьем грез и получить души</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/gorb.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Горб</strong></td>
                <td style="padding: 10px;">4.7/10</td>
                <td style="padding: 10px;">Телепортации, иглы</td>
                <td style="padding: 10px;">Нужно лишь внимательно играть и не попадаться под иглы, бить снизу верх, горб на самом деле умирает очень быстро все зависит от улучшения гвоздя</td>
            </tr>
        </tbody>
    </table>

    <p style="margin-top: 20px;">
    Пантеон Мастера является относительно легким пантеоном но балансированно так чтобы игрок уже чувствовал что сложность пантеонов вырастает,
    прохождения пантеона даст игроку понимание к новым паттернам игры
    </p>

{% endblock %}