{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Гуру — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/slay.jpg') }}" 
    </figure>

    <p>
    Пантеон Гуру — третий пантеон в Godmaster, который начинает напрягать игрока. Здесь игроки сталкиваются с усиленными версиями некоторых боссов
    и в конце нового босса который в основном игре нигде не встретить, в этом пантеоне от игрока требуется уже долгая концентрация также осторожность.
    </p>

    <p>Основные причины сложности Пантеона Гуру включают:</p>

    <ol>
        <li>Поялвение усиленных версий боссов таких как: <strong>Гримм</strong>, <strong>Надзирательница Хорнет</strong>, и 
        <strong>Слай</strong>.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
        <li>Серьезный уровень требований к долгсрочному концентрацию и подготовке.</li>
    </ol>

    <p>
    Пантеон Гуру требует серьезности в бою и также внимания к мелким деталям, это относительно сложный пантеон и прохождение
    пантеона даст уверенность к дальнешему прохождению следующих пантеонов,
    </p>

{% endblock %}