{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Гуру — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/slay.jpg') }}" 
    </figure>

    <p style="margin-top: 20px;">
    Пантеон Гуру — третий пантеон в Godmaster, который начинает напрягать игрока. Здесь игроки сталкиваются с усиленными версиями некоторых боссов
    и в конце нового босса который в основном игре нигде не встретить, в этом пантеоне от игрока требуется уже долгая концентрация также осторожность.
    </p>

    <p>Основные причины сложности Пантеона Гуру включают:</p>

    <ol>
        <li>Поялвение усиленных версий боссов таких как: <strong>Гримм</strong>, <strong>Надзирательница Хорнет</strong>, и 
        <strong>Слай</strong>.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
        <li>Серьезный уровень требований к долгсрочному концентрацию и подготовке.</li>
    </ol>
    
    <h2 style="margin-top: 40px;">Самые сложные боссы Пантеона</h2>
    
    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-top: 15px;">
        <thead>
            <tr style="background-color: #333; color: #fff;">
                <th style="text-align: left; padding: 10px;">Босс</th>
                <th style="text-align: left; padding: 10px;">Имя босса</th>
                <th style="text-align: left; padding: 10px;">Сложность (из 10)</th>
                <th style="text-align: left; padding: 10px;">Ключевая механика</th>
                <th style="text-align: left; padding: 10px;">Совет</th>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/sly.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong></strong>Великий гуру гвоздей Слай</td>
                <td style="padding: 10px;">7.5/10</td>
                <td style="padding: 10px;">Резкие атаки, тройные удары, также удары которые могут снять 2 полоски здаровья</td>
                <td style="padding: 10px;">Нужно держать дистанцию и бить тогда когда он уже закончил серию ударов, не торопись и концентрыруйся, используй хорошие чармы для длины гвоздя к примеру метка гордости, и во время перехода слая ко второй фазе есть немного времени чтобы похилиться</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/zot.png") }}" height="50" style="margin-left: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Серый принц Зот</strong></td>
                <td style="padding: 10px;">7/10</td>
                <td style="padding: 10px;">Долгие атаки, призыв зотлингов, прыжки</td>
                <td style="padding: 10px;">Во время боя старайся не терять маски (здаровье) так как время чтобы похилиться практически не будет, старайся закончить бой как можне скорее но при этом сохраняй осторожность, используй чармы для усиления гвоздя либо чармы для магии чтобы в дистанции ему наносить урон</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/ummu.png") }}" height="50" style="margin-left: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Ууму</strong></td>
                <td style="padding: 10px;">6.5/10</td>
                <td style="padding: 10px;">Призыв медуз, которые наносят удары на 2 полоски здоровья, взрывы, молнии</td>
                <td style="padding: 10px;">Босс не настолько сложный сколько нудный, нужно наносить его как можно больше сильного урона, и никогда не бей пока у него работает защита, также уклоняйся от медуз и ударь медузу по направлению умму</td>
            </tr>
        </tbody>
    </table>

    <p style="margin-top: 20px;">
    Пантеон Гуру требует серьезности в бою и также внимания к мелким деталям, это относительно сложный пантеон и прохождение
    пантеона даст уверенность к дальнешему прохождению следующих пантеонов,
    </p>

{% endblock %}