{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}

    <h1>Пантеон Художника — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/paintmaster.jpg') }}" style="width: 700px;"> 
    </figure>

    <p>
    Пантеон Художника — второй пантеон в Godmaster, тут игроки сталкиваюстся с опасными версиями старых боссов, пантеон относительно легкий, но
    является барьером между легким и сложеым пантеоном.
    </p>

    <p>Основные причины сложности Пантеона Мастера включают:</p>

    <ol>
        <li>Поялвение опасных версий старых боссов</li>
        <li>Паттерны требующие осторожности, точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в течении прохождения пантеона.</li>
        <li>Требование к концентрации и подготовке к необычным боссам.</li>
    </ol>

    <p>
    Пантеон Художника является легким пантеоном, игрок может не волноваться и спокойно пройти пантеон, но при этои внимательно играть чтобы случайно не погибнуть от босса.
    </p>

{% endblock %}