{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Рыцаря — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/knight_vs_bosses.jpg') }}" 
    </figure>

    <p>
    Пантеон Рыцаря — четвёртый пантеон в Godmaster и первый настоящий барьер, 
    который ломает большинство игроков. Здесь собраны самые быстрые, агрессивные 
    и непредсказуемые боссы, многие из которых представлены в усиленных версиях.
    </p>

    <p>Основные причины сложности Пантеона Рыцаря включают:</p>

    <ol>
        <li>Появление усиленных версий боссов, таких как Белый защитник и <strong>Чистый сосуд</strong>.</li>
        <li>Высокий темп — почти нет «передышек» между боями.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
    </ol>

    <p>
    Успешное прохождение Пантеона Рыцаря требует от игроков не только мастерства,
    но и стратегического мышления, умения быстро анализировать ситуации и
    принимать решения на лету. Это делает его одним из самых запоминающихся и
    сложных испытаний в Hollow Knight.
    </p> 
    
{% endblock %}