{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Халоунеста — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/hallownest_entry.jpg') }}" height="400"> 
    </figure>

    <p>
    Пантеон Халоунеста — последний пантеон в Godmaster, который представляет собой 
    завершающий этап испытаний. Здесь игроки сталкиваются с самыми сложными боссами 
    и уникальными механиками, которые требуют от них максимальной подготовки и 
    мастерства.
    </p>

    <p>Основные причины сложности Пантеона Халоунеста включают:</p>

    <ol>
        <li>Появление самых сложных боссов игры, таких как <strong>Король Кошмаров Гримм</strong>, <strong>Чистый сосуд</strong> и 
        <strong>Всевышняя Лучезарность</strong>.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
        <li>Высокий уровень требований к стратегии и подготовке.</li>
    </ol>

    <h2 style="margin-top: 40px;">Самые сложные боссы Пантеона</h2>

    <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 100%; margin-top: 15px;">
        <thead>
            <tr style="background-color: #333; color: #fff;">
                <th style="text-align: left; padding: 10px;">Босс</th>
                <th style="text-align: left; padding: 10px;">Имя босса</th>
                <th style="text-align: left; padding: 10px;">Сложность (из 10)</th>
                <th style="text-align: left; padding: 10px;">Ключевая механика</th>
                <th style="text-align: left; padding: 10px;">Совет</th>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/absolute_radiance.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Всевышняя Лучезарность</strong></td>
                <td style="padding: 10px;">10/10</td>
                <td style="padding: 10px;">Лазеры, сфера, платформы, иглы</td>
                <td style="padding: 10px;">Поставь самые сильные чармы против босса и начни тренироваться в зале боссов пока не выиграешь хотя бы 2 раза, если чувствуешь готовность то иди к пантеону и терпение - главное оружие</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/pure_vessel.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong></strong>Чистый сосуд</td>
                <td style="padding: 10px;">10/9</td>
                <td style="padding: 10px;">Резкие атаки, тройные удары, атаки щупальцамы пустоты</td>
                <td style="padding: 10px;">Держи дистанцию и не паникуй, поставь сильные чармы для гвоздя либо для магии, тренируйся в зале боссов пока не изучишь паттерны чистого сосуда и выиграй минимум 5 раз чтобы в пантеоне не паниковать и иметь самоуверенность</td>
            </tr>
            <tr>
                <td style="padding: 10px;"><img src="{{ url_for('static', filename="image/nightmare_grimm.png") }}" height="50" style="margin-right: 10px; vertical-align: middle;"></td>
                <td style="padding: 10px;"><strong>Кароль кошмаров Гримм</strong></td>
                <td style="padding: 10px;">10/8.7</td>
                <td style="padding: 10px;">Огонь, резкие удары, сфера, двойные удары, летующие мишы</td>
                <td style="padding: 10px;">Тренируйся в зале боссов так чтобы на авомате понимал его паттерны телепортации, также смотри какие чармы легче всего для тебя против этого босса, выиграй 5-10 раз в зале боссов чтобы с уверенностью начать 5 пантеон</td>
            </tr>
        </tbody>
    </table>

    <p style="margin-top: 20px;">
    Пантеон Халоунеста требует не только механического мастерства, но и психологической
    выдержки. Игрок должен сохранять концентрацию на протяжении всего забега,
    что делает Пантеон Пяти настоящим испытанием на выносливость.
    </p>

{% endblock %}