{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Мастера — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/oro_and_mato.jpg') }}" style="width: 700px;"> 
    </figure>

    <p>
    Пантеон Мастера — первый пантеон в Godmaster, тут игроки в первые сталкиваюстся пантеонами игры hollow knight, сам пантеон легкий и требует
    серьезных навыков для прохождения, но все равно есть требования к внимания игрока на боссов.
    </p>

    <p>Основные причины сложности Пантеона Мастера включают:</p>

    <ol>
        <li>Численность боссов пантеона который может сбивать игрока от концентрации, также в конце 2 босса сразу: <strong>Мастера гвоздя Оро и Мато</strong>.</li>
        <li>Боссы требующие осторожности, которые могут убить игрока если игрок будет невнимателен.</li>
        <li>Необходимость перепрохождения если игрок не понимает как пройти определенного босса.</li>
        <li>Требование к концентрации и подготовке к боссам.</li>
    </ol>

    <p>
    Пантеон Мастера является относительно легким пантеоном но балансированно так чтобы игрок уже чувствовал что сложность пантеонов вырастает,
    прохождения пантеона даст игроку понимание к новым паттернам игры
    </p>

{% endblock %}