{% extends 'base.html' %}

{% block title %}Hollow Knight - Главная{% endblock %}

{% block content %}
    <h1>Пантеон Халоунеста — анализ сложности</h1>

    <figure>
        <img src="{{ url_for('static', filename='image/hallownest_entry.jpg') }}" height="400"> 
    </figure>

    <p>
    Пантеон Халоунеста — последний пантеон в Godmaster, который представляет собой 
    завершающий этап испытаний. Здесь игроки сталкиваются с самыми сложными боссами 
    и уникальными механиками, которые требуют от них максимальной подготовки и 
    мастерства.
    </p>

    <p>Основные причины сложности Пантеона Халоунеста включают:</p>

    <ol>
        <li>Появление самых сложных боссов игры, таких как <strong>Король Кошмаров Гримм</strong>, <strong>Чистый сосуд</strong> и 
        <strong>Всевышняя Лучезарность</strong>.</li>
        <li>Сложные паттерны, требующие точного контроля движения и умений.</li>
        <li>Необходимость адаптации к разным стилям боя в короткие сроки.</li>
        <li>Высокий уровень требований к стратегии и подготовке.</li>
    </ol>

    <p>
    Пантеон Халоунеста требует не только механического мастерства, но и психологической
    выдержки. Игрок должен сохранять концентрацию на протяжении всего забега,
    что делает Пантеон Пяти настоящим испытанием на выносливость.
    </p>

{% endblock %}